    <footer class="bg-white p-12">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            
            <div class="text-primary-green grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12 text-center md:text-left">
                <div>
                    <h3 class="text-xl font-bold mb-2">Have Questions?</h3>
                    
                    <ul class="space-y-2">
                        <li class="mb-4">
                            <div class="text-xs mb-1">Reach us anytime</div>
                            <div class="font-medium text-sm">+977-9845123867</div>
                        </li>
                        
                        <li class="flex items-center justify-center md:justify-start gap-2 text-sm">
                            <i class="fa-regular fa-envelope w-4 h-4 text-cta-orange"></i>
                            <a href="mailto:hellobajar82@gmail.com" class="text-sm hover:text-cta-orange-hover ">hellobajar82@gmail.com</a>
                        </li>

                        <li class="flex items-center justify-center md:justify-start gap-2 text-sm text-gray-600">
                            <i class="fa-brands fa-whatsapp w-4 h-4 text-cta-orange"></i>
                            <a href="#" class="hover:text-cta-orange-hover">Chat on WhatsApp</a>
                        </li>
                    </ul>

                    <div class="pt-5 flex items-center justify-center md:justify-start gap-3">
                        <span class="text-sm font-semibold text-slate-800">Follow Us:</span>
                        <ul class="flex gap-3 text-gray-500">
                            <li>
                                <a href="#" class="hover:text-blue-600 transition" aria-label="Facebook">
                                <i class="fa-brands fa-facebook w-4 h-4"></i>   
                                </a>
                            </li>
                            <li>
                                <a href="#" class="hover:text-pink-600 transition" aria-label="Instagram">
                                <i class="fa-brands fa-instagram w-4 h-4"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="hover:text-red-600 transition" aria-label="YouTube">
                                <i class="fa-brands fa-youtube w-4 h-4"></i>     
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div>
                    <h3 class="text-xl font-bold mb-2">Quick Links</h3>
                    <ul class="space-y-3 text-sm">
                        <li><a href="/privacy_policy/" class="hover:text-cta-orange-hover">Privacy Policy</a></li>
                        <li><a href="/refund_and_return/" class="hover:text-cta-orange-hover">Refund & Return Policy</a></li>
                        <li><a href="/term_of_services/" class="hover:text-cta-orange-hover">Terms of Service</a></li>
                        <li><a href="/faq/" class="hover:text-cta-orange-hover">FAQ</a></li>

                    </ul>
                </div>

                <div>
                    <h3 class="text-xl font-bold mb-2">Become a Vendor</h3>
                    <p class="text-sm text-gray-600 mb-6">Start selling your products today</p>
                    <a href="#" class="bg-cta-orange text-white font-bold py-3 px-6 rounded-3xl hover:bg-opacity-90 transition">
                        Join as a Vendor
                    </a>
                </div>

                <div>
                    <h3 class="text-xl font-bold mb-2">Newsletter Signup</h3>
                    <p class="text-sm mb-4">Subscribe to receive updates, new arrivals, and special offers.</p>
                    <form class="space-y-3">
                        <input type="email" placeholder="Your email address" class="w-full border border-gray-300 rounded px-4 py-2 text-sm focus:outline-none focus:border-orange-800">
                        <button type="submit" class="w-full bg-cta-orange text-white font-bold py-2 rounded-3xl hover:bg-opacity-90 transition">
                            Subscribe
                        </button>
                    </form>
                </div>

            </div>

            <div class="mt-12 pt-8 border-t text-center md:text-left">
                <p class="text-sm">© 2025 agro ecommerce    . All rights reserved.</p>
            </div>
        </div>
    </footer>
